<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Polls</title>
</head>
<body>
    <h1>All Polls</h1>
    {% if polls %}
        <ul>
            {% for poll in polls %}
                <li>
                    <a href="/polls/{{ poll.id }}/">{{ poll.question }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls available.</p>
    {% endif %}
</body>
</html>
